body {
  background-color: #ebebeb;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
}

.film-item {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  font-size: 16px;
  text-transform: uppercase; 
  border-bottom: 1px solid #333333; 
  font-weight: bold; 
}

.sold-out {
  color: lightgray;
  text-decoration: line-through;
  opacity: 0.5;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}

.delete {
  background-color: rgb(206, 48, 48);
  color: white;
  padding: 3px 8px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 12px; 
  position: absolute; 
  right: 0; 
  bottom: 0; 
}

.delete:hover {
  background-color: lightgreen;
}
